@charset "UTF-8";   

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root{
    font-family: 'League Spartan';
    font-weight: bold;
}

button:active{ /*pseudo classe que vai ativar quando o usuário clicar em algum botão. O botão vai descer 2 pixels e a sombra irá sumir, dando um efeito de pressionar*/
    transform: translateY(+2px); 
    box-shadow: 0px 0px 0px ;
}

.calculadora{
    max-width: 300px;
    height: 400px;
    margin: auto;
    
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

h1{
    display: inline-block;
    margin: 0px;
    font-size: 20px;
    margin-top: 10px;
}
#theme{ /*texto do selecionador de tema*/
    font-size: 8px;
    font-weight: 700;
    display: inline-block;
    margin-left: 140px;
    margin-top: 10px;
    
}

#posRange{ /*div criada para posicionar o input range*/
    width: 50px;
    text-align: justify;
    font-size: 10px;      
}

span{
    padding-left: 8px;
    padding-right: 4px;
}


.tema{ /*selecionador de tema*/
    width:45px;
    height: 14px;
    padding-left: 3px;
    padding-right: 3px;
    appearance: none;
    border-radius: 20px;
    
}

.tema::-webkit-slider-thumb{
    appearance: none;
    width: 10px; /* Largura do thumb do slider */
    height: 10px; /* Altura do thumb do slider */
    border-radius: 50%; /* Borda circular do thumb */
    cursor: pointer;
}

.res{
    display: block;
    margin: auto;
    width: 300px;
    height: 60px;
    border-radius: 6px;
    box-sizing: border-box;
    margin-bottom: 15px;
    outline: none;
    border-color: transparent;
    font-size: 40px;
    font-weight: bold;
    text-align: right;
    padding-right: 15px;
}

div{
    margin: 10px;
}

.botoes{
    margin: auto;
    width: 300px;
    height: 280px;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;

    
}

.operadores{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
    margin-bottom: 0px;
}

.numerais{
    width: 65px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    border-color: transparent;

}

button.del{
    font-size: 17px;
    width: 65px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-weight: bold;
    border-color: transparent;
}


.calcular{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;

}


.calcular > button {
    width: 135px; 
    height: 40px; 
    border-radius: 8px;
    border-color: transparent;
    font-weight: bold;
}

.calcular button:first-child { /*margin para o primeiro elemento da linha*/
    margin-right: 5px;
}

.calcular button:last-child { /*margin para o último elemento da linha*/
    margin-left: 5px;
}

/*classes para cores se encontram nos documentos "tema"*/

