@charset "UTF-8";   

/*classes para cores*/
:root{
        --CorFundo: hsl(0, 0%, 75%);
        --CorFonte: hsl(60, 10%, 19%);
        --CorFonteSecundaria: hsl(60, 10%, 19%);
        --CorFundoSeletor: rgba(128, 127, 127, 0.315);
        --CorSeletor: hsl(25, 98%, 40%);
        --FundoRes: hsl(0, 0%, 93%);
        --Botoes: hsl(0, 5%, 81%);
        --CorBotoes: white;
        --CorDel: hsl(185, 42%, 37%);
        --CorFonteDel: white;
        --SombraPadrao: #888888;
        --SombraDel: hsl(185, 58%, 25%);
        --SombraEqual: hsl(6, 53%, 39%);
        color: var(--CorFonteSecundaria);
}

body{
    background-color: var(--CorFundo);
}

button{
    box-shadow: 0px 2px 0px var(--SombraPadrao) ; /*sombra genérica para botoes*/
    background-color: var(--CorBotoes); /*cor geral dos botões*/

}

.tema{
    background-color: var(--CorFundoSeletor); /*cor de fundo do slider*/
    
}

.tema::-webkit-slider-thumb{
    background: var(--CorSeletor); /* Cor do thumb do slider */
}

.res{
    background-color: var(--FundoRes); /*Cor do input com os números*/
    color: var(--CorFonteSecundaria);
}

.botoes{
    background-color: var(--Botoes); /*cor da div onde estão os botoes*/

}

.numerais{
    color: var(--CorFonte); /*fonte dos botoes*/
}
.del, .reset { /*cor e sombra dos botoes reset e DEL*/
    background-color: var(--CorDel);
    color: var(--CorFonteSecundaria);
    box-shadow: 0px 2px 0px var(--SombraDel);
    color: var(--CorFonteDel);
    
   
}

.equal{ /*Cor e sombra do botão =*/
    background-color: var(--CorSeletor);
    color: var(--CorFonteSecundaria);
    box-shadow: 0px 2px 0px var(--SombraEqual);
    color: var(--CorFonteDel);
}